# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json
/_data/*.bak

# Original figure PDFs (the site uses the PNG versions)
images/publications/*.pdf
